// Color
$primary: #00358E;
$red: #FF3232;
$yellow: #FFD932;
$white: #fff;
$white2: #FDFDFD;
$dark: #333;
$dark2: #727A8E;
$dark3: #2D3142;
$dark4: #0B0D31;
$blue: #E5EDFF;
$blue2: #315DF7;
$blue3: #E6EDFF;
$blue4: #B8CCFF;
$gray: #EEEFF1;
$orange: #FF9832;

// Font size
$size-xs: 10px;
$size-sm: 12px;
$size-base: 14px;
$size-md: 16px;
$size-lg: 18px;
$size-xl: 20px;
$size-xxl: 24px;
